#root {
  background-image: radial-gradient(orange, rgb(255, 210, 7));
  padding-bottom: 50px;
}

#mainApp{
    width: 500;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
   
}

#movieListContainer{
    width: 1200;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#buttonContainer{
    width: 1200;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.movieDetails{
text-decoration: none;
}

.moviePoster{
    width: 100px;
}

#movieListContainer > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#movieListContainer > div > div{
    flex: 1 1 33%
}
.lds-dual-ring {
    /* change color here */
    color: #1c4c5b
  }
  .lds-dual-ring,
  .lds-dual-ring:after {
    box-sizing: border-box;
  }
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }